
/* Service table columns styling */
.service-table-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 1rem;
}

.service-category {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Ajuste la largeur pour qu'elle ne dépasse pas la largeur de la colonne */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    margin-bottom: 0.3rem; /* Espace entre chaque service */
    margin-left: 8rem;
}

.service-category:hover {
    background-color: #f0f0f0;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.service-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.expand-icon {
    font-size: 1.2rem;
}

/* Styling for the expanded service options */
.service-options {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid #e0e0e0;
}

.service-option {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.service-option input[type="checkbox"] {
    margin-right: 0.5rem;
}

.service-option label {
    font-size: 0.9rem;
}

/* Save button styling */
.save-button {
    background-color: #00378A;
    color: white;
    padding: 0.5rem 1rem; /* Réduit la largeur du bouton */
    border: none;
    border-radius: 5px;
    font-size: 0.9rem; /* Réduit la taille de la police */
    cursor: pointer;
    margin: 1rem auto; /* Centre le bouton horizontalement */
    transition: background-color 0.3s; /* Réduit le temps de transition pour un effet plus rapide */
    display: block; /* Assure que le bouton occupe une ligne entière pour le centrage */
    width: fit-content; /* Ajuste la largeur du bouton en fonction de son contenu */
    margin-left: 40rem;
}

.save-button:hover {
    background-color: #1FA9B6;
}

/* Footer styling */
.footer {
    background-color: #e0e0e0;
    padding: 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer-section {
    flex: 1;
    margin-right: 1rem;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    height: 40px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

.mini-images {
    display: flex;
    gap: 0.5rem;
}

.mini-logo {
    height: 25px;
}
